:root {
  --PrimaryFF: Seravek;
  --SecondaryFF: Source Sans Pro;
  --PrimaryBlack: #000;
  --SecondaryBlack: #000000;
  --MainTransition: all ease 2s;
  --SecondaryTransition: all ease 1s;
}
/* global styles */
body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p {
  font-family: var(--SecondaryFF);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;

  letter-spacing: -0.01em;
}
h2 {
  font-family: var(--PrimaryFF);
  font-style: normal;
  font-weight: bold;
  font-size: 41px;
  line-height: 45px;
}
h3 {
  font-family: var(--PrimaryFF);
  font-style: normal;
  font-weight: bold;
  font-size: 31px;
  line-height: 110.43%;
  color: var(--SecondaryBlack);
}
h4 {
  text-align: center;
  font-size: 1.6rem;
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
}
a {
  text-decoration: none;
  color: var(--PrimaryBlack);
  cursor: pointer;
}
li {
  margin: 5px 12px;
  list-style-type: none;
  font-weight: 500;
}
li :hover {
  color: #5c5c5c;
  transition: var(--MainTransition);
  font-weight: 900;
}
/* End global styles */

/* container && main styles */
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.main {
  padding: 1rem;
  margin-top: 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
/* end of container && main styles */
/* nav styles */
nav {
  color: var(--PrimaryBlack);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgb(235, 235, 235);
  position: fixed;
  width: 100%;
  /* margin-bottom: 10%; */
  background-color: rgb(243, 243, 243);
}
.logo {
  margin-left: -10%;
  cursor: pointer;
}
.nav ul {
  display: flex;
}
.nav ul li {
  letter-spacing: 1px;
}
/* end of nav styles */

/* hero/header styles */
.header_section {
  display: flex;
}

.intro {
  width: 80%;
  padding: 2px;
  margin-top: 5%;
}
.heroDiv-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  margin-left: -68%;
  margin-top: 13%;
}
.heroDiv-section div {
  width: 23%;
  color: var(--PrimaryBlack);
  height: auto;
  text-align: justify;
}

.heroDiv-section div:not(:first-child, :last-child) {
  margin: 0 1%;
  font-family: var(--SecondaryFF);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  width: 25%;
  line-height: 30px;
  letter-spacing: -0.01em;
  color: rgba(235, 235, 235, 0.8);
}
.viewtalkBtn {
  position: absolute;
  top: 95%;
  left: 37%;
  color: rgba(235, 235, 235, 0.8);
  font-family: var(--SecondaryFF);
  /* padding: 0.5rem; */
  cursor: pointer;
}
.viewtalkBtn span {
  border: 0.5px solid rgba(235, 235, 235, 0.8);
  border-radius: 50%;
}
.viewtalkBtn:hover {
  color: whitesmoke;
}
.pengs {
  display: flex;
  margin-top: 4%;
}
.pengs .center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5px;
  border: 1px solid gray;
  border-radius: 30%;
}
/* end of hero/header styles */

/* articles && talks list styles */
.art-hero,
.talk-hero {
  display: flex;
  justify-content: space-around;
}

.art-intro,
.talk-intro {
  width: 40%;
  height: auto;
}
.art-intro h4,
.talk-intro h4 {
  font-family: var(--PrimaryFF);
  font-style: normal;
  font-weight: bold;
  font-size: 31px;
  line-height: 110.43%;
  color: var(--SecondaryBlack);
}
.art-intro div p,
.talk-intro div p {
  font-family: var(--SecondaryFF);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;

  letter-spacing: -0.01em;

  color: rgba(0, 0, 0, 0.7);
}
.art-list,
.talk-list {
  width: 90%;
  margin-left: 5%;
}
.art-list h3,
.talk-list h3 {
  font-family: var(--PrimaryFF);
  width: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 31px;
  line-height: 110.43%;
  color: var(--SecondaryBlack);
}
.list-pbtn {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.art-list p,
.talk-list p {
  font-family: var(--SecondaryFF);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  width: 90%;
  margin-top: -1%;
  letter-spacing: -0.01em;
  color: rgba(0, 0, 0, 0.7);
}

.read-more,
.view-more {
  font-family: var(--PrimaryFF);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 110.43%;
  /* background-color: aqua; */
  background: rgba(239, 244, 245, 0.972);
  padding: 0.3rem;
  width: 100px;
  color: #4f5157;
}
.view-more:hover {
  transition: var(--SecondaryTransition);
  width: 9%;
}
.read-more:hover {
  width: 9%;
  transition: var(--SecondaryTransition);
}
.date {
  font-family: var(--PrimaryFF);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 110.43%;

  color: #4f5157;
}
hr {
  background: #ffffff;
  border: 1px solid #eaedf3;
  box-sizing: border-box;
  border-radius: 10px;
}
.about-div {
  width: 90%;
}
/* end of articles && talks list styles */

/* footer styles */
.footer {
  height: 50px;
  padding: 10px;
  background: transparent;
  color: var(--PrimaryBlack);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -3%;
  margin-top: 2%;
  height: 30px;
}
.footer ul {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.copywrite {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -20px;
}
/* end of footer styles */

@media (max-width: 480px) {
  .about-div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 80%;
    align-items: center;
    padding: 0.5rem;
    overflow: hidden;
  }
  .header_section {
    display: block;
  }
  .heroDiv-section {
    display: flex;
    flex-direction: column;

    margin-left: 1%;
    margin-top: 1%;
  }
  .heroDiv-section div {
    width: 80%;
  }
  .heroDiv-section div:not(:first-child) {
    display: none;
  }

  .art-intro,
  .talk-intro {
    width: 80%;
    height: auto;
  }
  .art-hero,
  .talk-hero {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .talk-intro h4 {
    margin-top: -5%;
  }
  .intro p {
    text-align: center;
  }
  .pg-img img {
    width: 98%;
    height: 100%;
    margin-left: 5%;
  }
  .art-list,
  .talk-list {
    width: 80%;
    padding: 1rem;
  }
  .art-list h3,
  .talk-list h3 {
    font-size: large;
    font-weight: 500;
  }
  .read-more,
  .view-more {
    font-size: x-small;
    font-weight: lighter;
  }

  nav {
    display: block;
    align-items: center;
    border-bottom: 1px solid rgb(235, 235, 235);
  }
  nav ul {
    display: flex;
    position: absolute;
    /* bottom: 1%; */
    top: 0;
    left: 15%;
    text-align: center;
    font-size: medium;
  }
  li {
    margin-bottom: 4rem;
  }
  .logo {
    margin-left: 5%;
  }
}

@media (max-width: 768px) {
  .about-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 1rem;
    overflow: hidden;
  }

  .header_section {
    display: block;
  }
  .heroDiv-section {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 1%;
    margin-top: 1%;
  }
  .heroDiv-section div {
    width: 80%;
  }
  .header_section img {
    width: 100%;
    height: 100%;
  }
  .heroDiv-section div:not(:first-child) {
    display: none;
  }
  .intro p {
    width: 70%;
    text-align: center;
    margin-left: 10%;
  }
  .art-intro,
  .talk-intro {
    width: 80%;
    height: auto;
  }
  .art-hero,
  .talk-hero {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .art-list h3,
  .talk-list h3 {
    font-size: x-large;
  }
}
@media (max-width: 1024px) {
  .about-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    align-items: center;
    background-color: yellow;
    padding: 1rem;
  }
  .viewtalkBtn {
    display: none;
  }
}
@media (max-width: 1200px) and (min-width: 769px) {
  .heroDiv-section div:not(:first-child) {
    display: none;
  }
  .heroDiv-section {
    margin-left: -140%;
  }
  .intro {
    width: 90%;
  }
  .header_section img {
    margin-left: 40%;
    width: 90%;
    height: 90%;
  }
}
